{% extends "templates/web_base.html" %}
{% block content %}
<!-- ============ Card START ========== -->
<section class="abouthero clearfix">
	<div class="container">
		<h1>Transforming Lives Through Advanced Sleep Solutions </h1>
	</div>
</section>   

<section class="aboutwrap clearfix">
	<div class="container">
		<h2>NHK Medical Private Limited: <span>Enhancing Well-Being with Better Sleep</span></h2>
		<p>At NHK Medical Private Limited, we are at the forefront of providing transformative solutions for sleep disorders. Our unwavering commitment to improving sleep quality is evident in our specialized sleep study tests and comprehensive range of CPAP and BiPAP Devices. With a focus on innovation, quality, and patient care, we have established ourselves as a trusted partner in the medical communities.</p>
	</div>	
</section>	
 
<!-- ============ Trusted by the Experts and Medical Community START ========== -->
<section class="w-100 exportmedical clearfix">
  <div class="container">
    <div class="card">
      <h2>Trusted by the <span>Experts and Medical Community </span></h2>
      <div class="slider trust-slider">
        <div><img src="assets/nhk/assets/images/trust-logo.png" alt=""/></div>
        <div><img src="assets/nhk/assets/images/trust-logo1.png" alt=""/></div>
        <div><img src="assets/nhk/assets/images/trust-logo2.png" alt=""/></div>
        <div><img src="assets/nhk/assets/images/trust-logo3.png" alt=""/></div>
        <div><img src="assets/nhk/assets/images/trust-logo4.png" alt=""/></div>
      </div>
    </div>
  </div>
</section>
	
<!-- ============ The Client Journey to Refreshing Sleep  START ========== -->
<section class="OurImpact clearfix">
  <div class="container">
    <h2>Our <span>Impact and Reach </span></h2>
    <div class="reachwrap clearfix">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="impactbox text-center">
            <center>
              <img src="assets/nhk/assets/images/sr-following.svg" alt=""/>
            </center>
            <h3>4000+</h3>
            <p>Diagnosed Individuals</p>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-6">
              <div class="ImpactIndent clearfix">
                <center>
                  <img src="assets/nhk/assets/images/connected-doctors.svg" alt=""/>
                </center>
                <h3>100+</h3>
                <p>Connected Doctors</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-6">
              <div class="ImpactIndent clearfix">
                <center>
                  <img src="assets/nhk/assets/images/hospital-icon.svg" alt=""/>
                </center>
                <h3>8+</h3>
                <p>Hospital Collaborations</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-6">
              <div class="ImpactIndent clearfix">
                <center>
                  <img src="assets/nhk/assets/images/service-icon.svg" alt=""/>
                </center>
                <h3>KA &amp; TN</h3>
                <p>Service Locations</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-6">
              <div class="ImpactIndent clearfix">
                <center>
                  <img src="assets/nhk/assets/images/pan-devices.svg" alt=""/>
                </center>
                <h3>PAP Devices</h3>
                <p>Pan India Delivery</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
	
<!-- ============ ABOUT START ========== -->	
<section class="aboutpage clearfix">
	<div class="container">
		<div class="row mb-2">
			<div class="col-lg-3 col-md-4 col-12 text-center">
		    <img src="assets/nhk/assets/images/our-mission.png" alt=""/> </div>
			<div class="col-lg-9 col-md-8 col-12 align-self-center">
				<p>Our mission is to enhance the well-being and overall quality of life for individuals struggling with sleep disorders. We aim to accomplish this by providing state-of-the-art sleep study tests and cutting-edge CPAP/BiPAP Devices. </p>
			</div>
	  </div>
		<div class="row flex-column-reverse flex-md-row">
			<div class="col-lg-9 col-md-8 col-12 align-self-center">
				<p>Our specialists, trained technicians, and medical advisors work seamlessly to provide precise diagnoses and personalized treatment recommendations. Our commitment to excellence is reflected in the technology we offer and the compassionate care we provide. </p>
			</div>
			<div class="col-lg-3 col-md-4 col-12 text-center">
		    <img src="assets/nhk/assets/images/our-team.png" alt=""/> </div>
	  </div>
	</div>
</section>	
	
<!-- ============ Meet the Visionary START ========== -->		
<section class="MeetVisionary clearfix">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-12 text-center">
				<h2>Meet the Visionary</h2>
				<div class="meetprofile"></div>
				<h4>Ashutosh Kumawat</h4>
				<h5>Founder, NHK Medical</h5>
			</div>
			<div class="col-lg-8 col-md-7 col-12">
				<p>Ashutosh Kumawat, the visionary founder of NHK Medical Private Limited, has a strong background in Healthcare Sales and Marketing, Business Development, and Entrepreneurship. His experience includes roles such as BDM at Portea Medical, where he crafted sales strategies, and BDM at Sankhala Consultancy Services, contributing to growth. He also managed sales and operations at Okler Healthcare, served as a compassionate Freelancer Home Nurse, and worked as an ICU Nurse at Yashodhara Super Specialty Hospital. Ashutosh's diverse expertise, passion about solving sleep and respiratory problems has paved the way for NHK Medical's transformative sleep solutions mission, embodying the principles of "Right Diagnosis and Right Treatment at the Right Price."</p>
			</div>
		</div>
	</div>
</section>	
	
	
	
<!-- ============ What We Offer START ========== -->		
<section class="whatweoffer clearfix">
	<div class="container">
		<h2>What <span>We Offer?</span></h2>
		<p><span>Sleep study tests:</span> Our sleep study tests are conducted by experienced professionals using state-of-the-art equipment. These tests can help to diagnose sleep disorders such as sleep apnea, narcolepsy, and more.</p>
		<p><span>CPAP and BiPAP Devices:</span> We offer a wide range of CPAP and BiPAP Devices t o help you manage your sleep disorder. These machines deliver pressurized air to your airway, helping to keep your airway open during sleep.</p>
	</div>
</section>	
	

  <!-- ============ Google Reviews ========== -->
  <section class="valueclient clearfix">
    <div class="container">
      <h2>Hear from Our <span>Valued Clients </span></h2>
      <div class="reviews">
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-78e84835-995e-4dca-80b6-0b08464d55c4" data-elfsight-app-lazy></div>
      </div>
    </div>
  </section>

  
<!-- ============ Hear from Our Valued Clients  START ========== -->
<!-- <section class="valueclient clearfix">
  <div class="container">
    <h2>Hear from Our <span>Valued Clients </span></h2>
    <div class="slider client-slider">
      <div>
        <div class="card">
          <div class="profile"> <img src="assets/nhk/assets/images/profile-client.png" alt=""/>
            <h4>Hemavathi M</h4>
            <div class="star-test"> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-half-full"></span> </div>
          </div>
          <h3>It was a very good experience</h3>
          <p>Absolutely satisfied with the timely arrival of the product and the clear, easy-to
            follow equipment demonstration. I would gladly recommend your service to others. Overall, very impressed with the experience</p>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="profile"> <img src="assets/nhk/assets/images/profile-client.png" alt=""/>
            <h4>Hemavathi M</h4>
            <div class="star-test"> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-half-full"></span> </div>
          </div>
          <h3>It was a very good experience</h3>
          <p>Absolutely satisfied with the timely arrival of the product and the clear, easy-to
            follow equipment demonstration. I would gladly recommend your service to others. Overall, very impressed with the experience</p>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="profile"> <img src="assets/nhk/assets/images/profile-client.png" alt=""/>
            <h4>Hemavathi M</h4>
            <div class="star-test"> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-half-full"></span> </div>
          </div>
          <h3>It was a very good experience</h3>
          <p>Absolutely satisfied with the timely arrival of the product and the clear, easy-to
            follow equipment demonstration. I would gladly recommend your service to others. Overall, very impressed with the experience</p>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="profile"> <img src="assets/nhk/assets/images/profile-client.png" alt=""/>
            <h4>Hemavathi M</h4>
            <div class="star-test"> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-half-full"></span> </div>
          </div>
          <h3>It was a very good experience</h3>
          <p>Absolutely satisfied with the timely arrival of the product and the clear, easy-to
            follow equipment demonstration. I would gladly recommend your service to others. Overall, very impressed with the experience</p>
        </div>
      </div>
    </div>
  </div>
</section>	 -->
	
{% endblock %}