{% extends "templates/web_base.html" %}
{% block content %}
<!-- ============ Card START ========== -->
<section class="cartwrap clearfix">
	<div class="container">
		<h1>My <span>Cart</span></h1>
		<div class="cartBox clearfix">
			<a href="#" class="close d-hide"><img src="assets/nhk/assets/images/close.svg" class="img-fluid" alt=""/></a>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-5">
			    <img src="assets/nhk/assets/images/product-view.png" class="img-fluid" alt=""/> </div>
			  <div class="col-lg-6 col-md-4 col-7 align-self-center">
					<h2>Sefam Ecostar</h2>
					<div class="star mb-4"> <span> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </span> <span class="black-txt">4.2</span> </div>
				  <div class="price__product">
							<span class="price-txt">₹6500.00</span>
							<span class="mrp-txt">M.R.P.: ₹8,500</span>
							<span class="off-txt">(24% off)</span>
						</div>
				</div>
			  <div class="col-lg-2 col-md-2 col-12 m-hide align-self-center">
					<button class="btn btn-now">Remove</button>
				</div>
		  </div>
		</div>
		
		<div class="cartBox clearfix">
			<a href="#" class="close d-hide"><img src="assets/nhk/assets/images/close.svg" class="img-fluid" alt=""/></a>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-5">
			    <img src="assets/nhk/assets/images/product1.png" class="img-fluid" alt=""/> </div>
			  <div class="col-lg-6 col-md-4 col-7 align-self-center">
					<h2>Sefam Ecostar</h2>
					<div class="star mb-4"> <span> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </span> <span class="black-txt">4.2</span> </div>
				  <div class="price__product">
							<span class="price-txt">₹6500.00</span>
							<span class="mrp-txt">M.R.P.: ₹8,500</span>
							<span class="off-txt">(24% off)</span>
						</div>
				</div>
			  <div class="col-lg-2 col-md-2 col-12 m-hide align-self-center">
					<button class="btn btn-now">Remove</button>
				</div>
		  </div>
		</div>
		
		<div class="cartBox clearfix">
			<a href="#" class="close d-hide"><img src="assets/nhk/assets/images/close.svg" class="img-fluid" alt=""/></a>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-5">
			    <img src="assets/nhk/assets/images/product-view.png" class="img-fluid" alt=""/> </div>
			  <div class="col-lg-6 col-md-4 col-7 align-self-center">
					<h2>Sefam Ecostar</h2>
					<div class="star mb-4"> <span> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </span> <span class="black-txt">4.2</span> </div>
				   <div class="price__product">
							<span class="price-txt">₹6500.00</span>
							<span class="mrp-txt">M.R.P.: ₹8,500</span>
							<span class="off-txt">(24% off)</span>
						</div>
				</div>
			  <div class="col-lg-2 col-md-2 col-12 m-hide align-self-center">
					<button class="btn btn-now">Remove</button>
				</div>
		  </div>
		</div>
		
		<div class="cartBox clearfix">
			<a href="#" class="close d-hide"><img src="assets/nhk/assets/images/close.svg" class="img-fluid" alt=""/></a>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-5">
			    <img src="assets/nhk/assets/images/product1.png" class="img-fluid" alt=""/> </div>
			  <div class="col-lg-6 col-md-4 col-7 align-self-center">
					<h2>Sefam Ecostar</h2>
					<div class="star mb-4"> <span> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </span> <span class="black-txt">4.2</span> </div>
				   <div class="price__product">
							<span class="price-txt">₹6500.00</span>
							<span class="mrp-txt">M.R.P.: ₹8,500</span>
							<span class="off-txt">(24% off)</span>
						</div>
				</div>
			  <div class="col-lg-2 col-md-2 col-12 m-hide align-self-center">
					<button class="btn btn-now">Remove</button>
				</div>
		  </div>
		</div>
		
		
		<div class="price__details">
			<h4>Price Details (4 items)</h4>
			<div class="card-body">
				<div class="PriceShow clearfix">
					<ul>
						<li>Subtotal</li>
						<li>₹1500</li>
					</ul>
				</div>
				<div class="form-group">
					<label>Apply Coupon</label>
					<input type="text" class="form-control"> 
				</div>
				<div class="PriceShow clearfix">
					<ul>
						<li>Shipping</li>
						<li>0</li>
					</ul>
				</div>
				<div class="PriceShow totalprice clearfix">
					<ul>
						<li><strong>Total</strong></li>
						<li><strong>₹1500</strong></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="makepayment clearfix">
			<a href="checkout.html">Make Payment</a>
		</div>
		
  </div>
</section>  
	
{% endblock %}