{% extends "templates/web_base.html" %}
{% block content %}

<!-- ============ BANNER START ========== -->
<section class="heroinner clearfix">
	<div class="container">
		<div class="innerproduct clearfix">
			<div class="heroleft clearfix">
				<h1>Flat 20% off<br> <span>ON PAP DEVICES</span></h1>
				<p>Use code :  <span>NHKO20</span></p>
			</div>
			<div class="heroright">
				<center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid m-hide" alt=""/>
              <img src="assets/nhk/assets/images/product-view.png" class="img-fluid d-hide" alt=""/>
            </center>
			</div>
		</div>
  </div>		
</section>
	
	
<!-- ============ Sleep Apnaea Health Solution START ========== -->
<section class="devicewrap clearfix">
  <div class="container">
      
	  <div class="row selectwrap">
		  <div class="col-lg-10 col-md-9 col-6">
			  <select class="form-control w25">
				  <option>Devices</option>
				  <option>BIPAP</option>
				  <option>CPAP</option>
				  <option>Others</option>
			  </select>
		  </div>
		  <div class="col-lg-2 col-md-3 col-6" >
			   <select class="form-control w25">
				  <option>Sort by</option>
				  <option>Top Rated </option>
				  <option>Availability</option>
			  </select>
		  </div>
	  </div>
	  
	  <div class="row">
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-s-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-s-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
		  </div>
	  </div>
	  
	 
  </div>
</section>

<!-- ============ Box START ========== -->
<section class="devicebox clearfix">
	<div class="container">
		<h2>CPAP Device <span>(Continuous Positive Airway Pressure)</span></h2>
		<p>A CPAP device is a medical apparatus that delivers a consistent and continuous stream of pressurized air through a mask worn over the nose or mouth. This pressurized air acts as a pneumatic splint, preventing the collapse of the upper airway tissues that leads to obstructive sleep apnea. </p>
		<h3>Benefits of Using a CPAP Device:</h3>
		<ol>
			<li>Improved Sleep Quality: CPAP therapy reduces breathing interruptions, resulting in more restful sleep and improved overall sleep quality.</li>
			<li>Enhanced Daytime Functioning: Restored sleep patterns lead to reduced daytime fatigue and increased alertness.</li>
			<li>Reduction in Health Risks: Effective CPAP therapy reduces the risk of cardiovascular issues, hypertension, and other health problems linked to untreated sleep apnea.</li>
		</ol>
		<h3>Different Types of CPAP Masks: </h3>
		<ol>
			<li>CPAP masks come in various styles:</li>
			<li>Nasal Masks: Cover nose for natural breathers.</li>
			<li>Full-Face Masks: Cover nose and mouth, suitable for mouth breathers and active sleepers.</li>
			<li>Nasal Pillow Masks: Insert in nostrils, minimal contact.</li>
			<li>Hybrid Masks: Blend of nasal and full-face, versatile.</li>
			<li>Oral Masks: Cover mouth, combat nasal congestion.</li>
			<li>Total Face Masks: Cover entire face, rarely used.</li>
			<li>Under-the-Nose Masks: Below nostrils, reduce nose pressure.</li>
			<li>Adaptable Masks: Customizable, tailored fit.</li>
		</ol>
		<p>Select a CPAP mask based on comfort, breathing habits, and preferences. Consult a professional for effective and comfortable therapy. </p>
		<h3>Selecting the Right CPAP Device</h3>
		<p>A sleep specialist meticulously evaluates sleep study results, considering individual preferences and any underlying medical conditions, to expertly recommend the most suitable CPAP device and optimal pressure settings for effective treatment.</p>
		<h3>Adapting to CPAP Therapy: </h3>
		<p>Adapting to CPAP therapy might involve a brief adjustment period as users become accustomed to wearing the mask and experiencing the gentle airflow. Consistent and persistent use forms the foundation of achieving successful therapy outcomes and improved sleep. </p>
		<h3>Maintenance and Hygiene: </h3>
		<p>Routine cleaning of the CPAP device, mask, tubing, and optional humidifier is essential to prevent the accumulation of bacteria and ensure consistent, reliable therapy results. </p>
		<h3>Innovation and User-Friendly Features: </h3>
		<p>Modern CPAP devices incorporate innovation with features like heated humidification, advanced data tracking, near-silent operation, and mask comfort enhancements. These user-friendly additions enhance the overall therapy experience, making it more comfortable and effective. </p>
		<h3>Incorporating CPAP Therapy into Lifestyle: </h3>
		<p>Incorporating CPAP therapy into your daily routine, coupled with maintaining a steady sleep schedule and cultivating a tranquil sleep environment, significantly contributes to the therapy's efficacy in improving sleep quality and overall well-being. </p>
	</div>
</section> 
 
<!-- ============ FAQ START ========== -->
<section class="faqwrap clearfix">
	<div class="container">
		<h2>Frequently <span>Asked Questions</span> (FAQ’S)</h2>
		
		<div class="accordion" id="accordionExample">
  <div class="item">
     <div class="item-header" id="headingOne">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			  How does a CPAP device work?        
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" >
<div class="faq-txt">A CPAP device delivers constant air pressure through a mask, preventing the collapse of the airway tissues, which is a common issue in obstructive sleep apnea. This allows for uninterrupted breathing during sleep. 
</div>
        
     </div>
  </div>
  <div class="item">
     <div class="item-header" id="headingTwo">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			 Who needs a CPAP device?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
         <div class="faq-txt">
			CPAP therapy is typically prescribed for individuals diagnosed with obstructive sleep apnea or other breathing disorders during sleep. A sleep study and evaluation by a healthcare professional determine if CPAP therapy is suitable. 
         </div>
     </div>
  </div>
  <div class="item">
     <div class="item-header" id="headingThree">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			Is CPAP therapy uncomfortable?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
         <div class="faq-txt">
			CPAP therapy might require an adjustment period, especially in getting used to wearing the mask. However, advancements in mask designs and comfort features make the experience more manageable. 
		</div>
     </div>
  </div>
			
			
<div class="item">
     <div class="item-header" id="heading4">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
			 Can I travel with a CPAP device?    
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
         <div class="faq-txt">
			Yes, many CPAP devices are portable and designed for travel. They come with travel cases, and airlines usually allow CPAP devices as carry-on items. Ensure you have the necessary adapters for power compatibility in different regions.  
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading5">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
			  Do I need a prescription for a CPAP device?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
         <div class="faq-txt">
			Yes, a prescription from a healthcare provider is required to obtain a CPAP device. The prescription is based on the results of a sleep study and a thorough evaluation of your condition. 
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading6">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
			  What if I experience mask discomfort or air leaks?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
         <div class="faq-txt">
			Mask discomfort or air leaks can often be addressed by adjusting the mask's fit or trying a different mask style. Consulting your healthcare provider or equipment supplier can help find a suitable solution. 
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading7">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
			  Can I adjust the CPAP pressure on my own?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
         <div class="faq-txt">
			It's important not to adjust CPAP pressure settings on your own without consulting your healthcare provider. Adjustments should be made under their guidance based on sleep study results and your response to therapy.  
		</div>
     </div>
  </div>	
<div class="item">
     <div class="item-header" id="heading8">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
			  Can I use a CPAP device if I have allergies or sinus issues?    
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
         <div class="faq-txt">
			CPAP therapy can be effective for individuals with allergies or sinus issues. Using a heated humidifier might help alleviate nasal congestion and dryness.   
		</div>
     </div>
  </div>	
<div class="item">
     <div class="item-header" id="heading9">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
			  Can I use a CPAP device if I am claustrophobic?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
         <div class="faq-txt">
			Many mask designs are less intrusive, and some even have minimal contact points. Working with a healthcare provider to find a comfortable mask style is important. 
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading10">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
			  Can I stop using the CPAP device once I feel better? 
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
         <div class="faq-txt">
			It's important to follow your healthcare provider's guidance regarding CPAP therapy. Stopping therapy without their recommendation might lead to a return of sleep apnea symptoms. 
		</div>
     </div>
  </div>					
</div>
</div>
</section>	
	
{% endblock %}