{% extends "templates/web_base.html" %}
{% block content %}
<!-- ============ BANNER START ========== -->
<section class="heroinner clearfix">
	<div class="container">
		<div class="innerproduct clearfix">
			<div class="heroleft clearfix">
				<h1>Flat 20% off<br> <span>ON BPAP DEVICES</span></h1>
				<p>Use code :  <span>BIPAPO20</span></p>
			</div>
			<div class="heroright">
				<center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid m-hide" alt=""/>
              <img src="assets/nhk/assets/images/product-view.png" class="img-fluid d-hide" alt=""/>
            </center>
			</div>
		</div>
  </div>		
</section>
	
	
<!-- ============ Sleep Apnaea Health Solution START ========== -->
<section class="devicewrap clearfix">
  <div class="container">
      
	  <div class="row selectwrap">
		  <div class="col-lg-10 col-md-9 col-6">
			  <select class="form-control w25">
				  <option>Devices</option>
				  <option>BIPAP</option>
				  <option>CPAP</option>
				  <option>Others</option>
			  </select>
		  </div>
		  <div class="col-lg-2 col-md-3 col-6">
			   <select class="form-control w25" >
				  <option>Sort by</option>
				  <option>Top Rated </option>
				  <option>Availability</option>
			  </select>
		  </div>
	  </div>
	  
	  <div class="row">
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-s-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
		  </div>
	  </div>
	  
	 
  </div>
</section>

<!-- ============ Box START ========== -->
<section class="devicebox clearfix">
	<div class="container">
		<h2>BiPAP Device <span>(Bilevel Positive Airway Pressure)</span></h2>
		<p>A BiPAP device is a specialized machine that delivers two levels of air pressure – one for inhalation and a lower one for exhalation. This dual-pressure approach allows for more comfortable and efficient breathing, making it especially beneficial for certain sleep apnea cases.</p>
		<h3>Different Mask Styles for BiPAP Therapy: </h3>
		<ol>
			<li>BiPAP therapy offers diverse mask options for personalized comfort and breathing preferences:</li>
			<li>Nasal Masks: Cover the nose for those who breathe primarily through it, ensuring a secure fit while allowing movement.</li>
			<li>Full-Face Masks: Cover nose and mouth, suitable for nose and mouth breathers or those with allergies/congestion.</li>
			<li>Nasal Pillow Masks: Minimalistic inserts fit into nostrils, favored for open feel and comfort, ideal for claustrophobia concerns.</li>
		</ol>
		<h3>Benefits of BiPAP Therapy: </h3>
		<ol>
			<li>Enhanced Breathing Assistance: The varying pressure levels of the BiPAP device provide targeted support for each phase of breathing, aiding those with conditions such as central sleep apnea or chronic obstructive pulmonary disease (COPD).</li>
			<li>Improved Comfort: The ability to exhale against lower pressure makes breathing more comfortable, increasing user compliance and the likelihood of consistent therapy.</li>
			<li>Reduced Work of Breathing: BiPAP devices ease the effort required for breathing, making it less strenuous for individuals with respiratory challenges.</li>
			<li>Adaptability: BiPAP therapy can be tailored to accommodate changes in breathing patterns that may occur during different sleep stages or positions.</li>
		</ol>
		<h3>Side Effects of BiPAP Therapy: </h3>
		<p>Users of BiPAP therapy might experience certain side effects, including discomfort from the mask, skin irritation, dry mouth, or initial challenges adjusting to the device. Healthcare professionals can help address these issues. </p>
		<h3>Selecting the Right BiPAP Device:  </h3>
		<p>Choosing the appropriate BiPAP device depends on factors like your specific respiratory condition, prescribed pressure levels, and individual preferences. Consulting a healthcare provider or sleep specialist is essential to determine the most suitable device for your needs. </p>
		<h3>Adapting to BiPAP Therapy:  </h3>
		<p>Like any new therapy, adapting to BiPAP might require patience and practice. Gradually introducing the therapy while awake can help your body become accustomed to the sensation, making it easier to use during sleep. </p>
		<h3>Maintenance and Support:  </h3>
		<p>Regular maintenance and adherence to cleaning guidelines are vital for ensuring the longevity and efficacy of your BiPAP device. Regular follow-ups with your healthcare provider allow adjustments and address any concerns. </p>
	</div>
</section> 
 
<!-- ============ FAQ START ========== -->
<section class="faqwrap clearfix">
	<div class="container">
		<h2>Frequently <span>Asked Questions</span> (FAQ'S)</h2>
		
		<div class="accordion" id="accordionExample">
  <div class="item">
     <div class="item-header" id="headingOne">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			  How does a BiPAP device work?
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
<div class="faq-txt">A BiPAP device delivers different pressure levels for inhalation and exhalation. The higher-pressure during inhalation helps keep the airway open, while the lower pressure facilitates exhalation, making breathing easier for individuals with respiratory disorders.  
</div>
        
     </div>
  </div>
  <div class="item">
     <div class="item-header" id="headingTwo">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			  Who can benefit from BiPAP therapy?
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
         <div class="faq-txt">
			BiPAP therapy is beneficial for individuals with conditions like central sleep apnea, COPD, and certain neuromuscular disorders. It provides targeted breathing support and improves respiratory efficiency. 
         </div>
     </div>
  </div>
  <div class="item">
     <div class="item-header" id="headingThree">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			 Is BiPAP therapy similar to CPAP therapy?    
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
         <div class="faq-txt">
			While both therapies involve positive airway pressure, BiPAP provides two pressure levels (bilevel) as opposed to the constant pressure of CPAP. BiPAP is often used for individuals requiring different pressures for inhalation and exhalation. 
		</div>
     </div>
  </div>
			
			
<div class="item">
     <div class="item-header" id="heading4">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
			 How is the pressure level determined for BiPAP therapy?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
         <div class="faq-txt">
			Healthcare professionals assess everyone's specific respiratory needs to determine the appropriate pressure settings for inhalation and exhalation. Regular follow-ups ensure the therapy's efficacy and necessary adjustments.  
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading5">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
			  Is a prescription required for a BiPAP device?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
         <div class="faq-txt">
			Yes, a prescription from a healthcare provider is necessary to obtain a BiPAP device. The provider determines the appropriate settings based on the individual's diagnosis. 
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading6">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
			  Can BiPAP therapy be uncomfortable?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
         <div class="faq-txt">
			BiPAP therapy is designed to enhance comfort by providing tailored pressure levels. Some users may take time to adjust, but healthcare professionals assist in finding the right settings for a comfortable experience
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading7">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
			  Can I travel with a BiPAP device?   
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
         <div class="faq-txt">
			Yes, most BiPAP devices are portable and suitable for travel. Travel cases and accessories make it convenient to continue therapy while away from home. 
		</div>
     </div>
  </div>	
<div class="item">
     <div class="item-header" id="heading8">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
			  Can BiPAP therapy be uncomfortable for side sleepers?   
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
         <div class="faq-txt">
			BiPAP masks are designed to accommodate different sleep positions, including side sleeping. Trying different mask styles and adjustments can help find the most comfortable fit.   
		</div>
     </div>
  </div>	
<div class="item">
     <div class="item-header" id="heading9">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
			  Can BiPAP therapy be used for pediatric patients?      
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
         <div class="faq-txt">
			Yes, BiPAP therapy can be used for children with specific respiratory needs. Pediatric-specific masks and devices are available to ensure safe and effective treatment. 
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading10">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
			  Can I stop using the BiPAP device once I feel better?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
         <div class="faq-txt">
			It's important to follow your healthcare provider's guidance regarding BiPAP therapy. Stopping therapy without their recommendation might lead to a return of sleep apnea symptoms.
		</div>
     </div>
  </div>					
</div>
</div>
</section>	
	
{% endblock %}