{% extends "templates/web_base.html" %}
{% block content %}
<!-- ============ Container START ========== -->
<section class="no_order clearfix">
	<div class="container text-center">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-4 col-12">
				<h2>No orders </h2>
				<p>There are no orders to show</p>
				<center>
				  <img src="assets/nhk/assets/images/no-order.svg" class="img-fluid" alt=""/>
				</center>
				
				<div class="makepayment">
					<a href="pap-devices.html">Shop Now</a>
				</div>
			</div>
		</div>
  </div>
</section>  
	
 
{% endblock %}