{% extends "templates/web_base.html" %}
{% block content %}
<!-- ============ Order Successfull START ========== -->
<section class="order__successfull clearfix">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8 col-12">
				 	
				
				<center><img src="assets/nhk/assets/images/sucess.svg" class="sucess-pic" alt=""/></center>
			  <h2>ORDER SUCCESSFUL</h2>
				
				<div class="checkoutPayment clearfix">
				 <div class="cardProduct clearfix pb-0 mb-0 nobdr">
					 <div class="row">
						 <div class="col-lg-3 col-md-4 col-4">
							 <div class="productcard">
						     <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""> </div>
					   </div>
						 <div class="col-lg-9 col-md-8 col-8">
							 <h4>SSefam S box  (Positive Airways Pressure (CPAP) Device</h4>
							 <p>Order ID # 1079458 </p>
							 <p><strong>₹1,500</strong></p>
						 </div>
					 </div>
				 </div>
				</div>
				
				<div class="address_order clearfix">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-12">
							<div class="card-address">
								<h3>Summary:</h3>
								<p><span>Order ID #:</span> 1079458 </p>
								<p><span>Order Date:</span> 5, January, 2024</p>
								<p><span>Order Total:</span> ₹1,500.00</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="card-address nobdr">
								<h3>Shipping Address:</h3>
								<p>Miss Bean officials <br> 123 street Average <br> Boston, Ma</p>
							</div>
						</div>
					</div>
				</div>
				<div class="makepayment">
					<a href="track-order.html">TRACK ORDER</a>
				</div>
				
				
			</div>
		</div>
	</div>
</section>    
	
 
{% endblock %}