{% extends "templates/web_base.html" %}
{% block content %}
<!-- ============ BANNER START ========== -->
<section class="heroinner clearfix">
	<div class="container">
		<div class="innerproduct clearfix">
			<div class="heroleft clearfix">
				<h1>Flat 20% off<br> <span>ON PAP DEVICES</span></h1>
				<p>Use code :  <span>NHKO20</span></p>
			</div>
			<div class="heroright">
				<center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid m-hide" alt=""/>
              <img src="assets/nhk/assets/images/product-view.png" class="img-fluid d-hide" alt=""/>
            </center>
			</div>
		</div>
  </div>		
</section>
	
	
<!-- ============ Sleep Apnaea Health Solution START ========== -->
<section class="devicewrap clearfix">
  <div class="container">
      
	  <div class="row selectwrap">
		  <div class="col-lg-10 col-md-9 col-6">
			  <select class="form-control w25">
				  <option>Devices</option>
				  <option>BIPAP</option>
				  <option>CPAP</option>
				  <option>Others</option>
			  </select>
		  </div>
		  <div class="col-lg-2 col-md-3 col-6">
			   <select class="form-control w25">
				  <option>Sort by</option>
				  <option>Top Rated </option>
				  <option>Availability</option>
			  </select>
		  </div>
	  </div>
	  
	  <div class="row">
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-s-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <div class="rent-price">
				<h6>Cost Per Month</h6>
				<p>₹2500.00 <span>(Inclusive All Tax)</span></p>
			</div>   
            <p><a href="product-rent.html" class="w-100">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <div class="rent-price">
				<h6>Cost Per Month</h6>
				<p>₹2500.00 <span>(Inclusive All Tax)</span></p>
			</div>   
            <p><a href="product-rent.html" class="w-100">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <div class="rent-price">
				<h6>Cost Per Month</h6>
				<p>₹2500.00 <span>(Inclusive All Tax)</span></p>
			</div>   
            <p><a href="product-rent.html" class="w-100">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
         <div class="card-body">
            <h3>Sefam S Box</h3>
            <div class="rent-price">
				<h6>Cost Per Month</h6>
				<p>₹2500.00 <span>(Inclusive All Tax)</span></p>
			</div>   
            <p><a href="product-rent.html" class="w-100">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <div class="rent-price">
				<h6>Cost Per Month</h6>
				<p>₹2500.00 <span>(Inclusive All Tax)</span></p>
			</div>   
            <p><a href="#" class="w-100">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-s-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <div class="rent-price">
				<h6>Cost Per Month</h6>
				<p>₹2500.00 <span>(Inclusive All Tax)</span></p>
			</div>   
            <p><a href="#" class="w-100">Rent Now</a></p>
          </div>
        </div>
		  </div>
		 <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <div class="rent-price">
				<h6>Cost Per Month</h6>
				<p>₹2500.00 <span>(Inclusive All Tax)</span></p>
			</div>   
            <p><a href="#" class="w-100">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <div class="rent-price">
				<h6>Cost Per Month</h6>
				<p>₹2500.00 <span>(Inclusive All Tax)</span></p>
			</div>   
            <p><a href="#" class="w-100">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-s-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <div class="rent-price">
				<h6>Cost Per Month</h6>
				<p>₹2500.00 <span>(Inclusive All Tax)</span></p>
			</div>   
            <p><a href="#" class="w-100">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <div class="rent-price">
				<h6>Cost Per Month</h6>
				<p>₹2500.00 <span>(Inclusive All Tax)</span></p>
			</div>   
            <p><a href="#" class="w-100">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <div class="rent-price">
				<h6>Cost Per Month</h6>
				<p>₹2500.00 <span>(Inclusive All Tax)</span></p>
			</div>   
            <p><a href="product-rent.html" class="w-100">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  <div class="col-lg-3 col-md-6 col-6">
			  <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <div class="rent-price">
				<h6>Cost Per Month</h6>
				<p>₹2500.00 <span>(Inclusive All Tax)</span></p>
			</div>   
            <p><a href="product-rent.html" class="w-100">Rent Now</a></p>
          </div>
        </div>
		  </div>
		  
	  </div>
	  
	 
  </div>
</section>

<!-- ============ Box START ========== -->
<section class="devicebox clearfix">
	<div class="container">
		<h2>PAP Device <span>(Positive Airway Pressure)</span></h2>
		<p><strong>A PAP (Positive Airway Pressure) device is a medical device used to treat sleep apnea and related breathing disorders. It delivers a gentle flow of pressurized air through a mask to keep your airway open during sleep.</strong></p>
		<h3>Types of PAP Devices:</h3>
		<ol>
			<li>CPAP (Continuous Positive Airway Pressure): These devices maintain a constant air pressure level throughout sleep, ensuring the airway remains open. They are effective for obstructive sleep apnea.</li>
			<li>BiPAP (Bilevel Positive Airway Pressure): BiPAP devices offer two pressure levels: higher during inhalation and lower during exhalation. They are useful for complex sleep apnea cases or individuals requiring varying pressure levels. These are also useful in COPD, Respiratory tract infection and Respiratory failure etc.</li>
		</ol>
		<h3>Benefits of Using a PAP Device:</h3>
		<ol>
			<li>Enhanced Sleep Quality: PAP therapy promotes restorative sleep, reducing nighttime awakenings and enhancing overall sleep duration.</li>
			<li>Mitigated Daytime Fatigue: By preventing sleep disruptions, users experience reduced daytime sleepiness and increased alertness.</li>
			<li>Health Risk Reduction: Effective PAP therapy helps lower the risk of cardiovascular problems, hypertension, and other health complications linked to untreated sleep apnea.</li>
		</ol>
		<h3>Selecting the Right PAP Device:</h3>
		<p>The appropriate PAP device is determined by factors such as the severity of sleep apnea, individual preferences, and any concurrent health conditions. Sleep study results and medical guidance aid in making an informed choice.</p>
		<h3>Adapting to PAP Therapy:</h3>
		<p>Transitioning to PAP therapy might require time as individuals adjust to mask wear and air pressure sensations. Consistent use and open communication with healthcare providers contribute to a smoother adaptation process.</p>
		<h3>Maintenance and Hygiene of PAP device:</h3>
		<p>Regular maintenance is essential to ensure the longevity and efficacy of PAP equipment. Cleaning the mask, tubing, and humidifier (if applicable) following manufacturer instructions prevents bacterial growth.</p>
		<h3>Innovation and User-Friendly Features of PAP Devices:</h3>
		<p>PAP devices now offer heated humidification, data tracking, quiet operation, auto-adjusting pressure, enhanced mask fit, travel convenience, leak detection, smart start/stop, ramp features, and compatibility with glasses.</p>
		<h3>Side Effects of Using a PAP Device:</h3>
		<p>Using a PAP (Positive Airway Pressure) device may cause manageable side effects that tend to diminish as your body adjusts to the therapy. Common side effects include:</p>
		<ol>
			<li>Dry Nose or Mouth: The pressurized air may cause dryness in your nose or mouth, causing discomfort.</li>
			<li>Nasal Congestion: The air pressure can result in temporary nasal congestion, making nasal breathing a bit challenging.</li>
			<li>Skin Irritation from the Mask: Wearing the mask might cause skin irritation or redness, especially if the fit is not optimal.</li>
			<li>Initial Discomfort Falling Asleep: Initially, adjusting to sleeping with the mask might lead to difficulty falling asleep.</li>
		</ol>
		<p>These side effects can often be managed with adjustments and support from your healthcare provider or equipment supplier.</p>
		<h3>Children and PAP Devices:</h3>
		<ol>
			<li>Benefit for Children with Sleep Apnea: Children can benefit from PAP therapy, aided by specially designed pediatric masks and devices, leading to improved sleep quality and overall health.</li>
			<li>Specialized Masks and Devices: Pediatric PAP devices have smaller masks for comfortable fit and calibrated pressure levels suitable for children's needs.</li>
			<li>Consultation with Professionals: Consulting pediatric sleep specialists before starting PAP therapy is essential for proper diagnosis, gradual introduction, and ongoing monitoring.</li>
			<li>Improved Quality of Life: PAP therapy enhances children's sleep quality, cognitive development, and overall well-being, with healthcare professionals ensuring effective care.</li>
		</ol>
		<h3>Incorporating PAP Therapy into Lifestyle:</h3>
		<ol>
			<li>Consistent Routine: Adhering to a regular sleep schedule helps align PAP therapy with your body's natural sleep-wake cycle, enhancing its effectiveness.</li>
			<li>Comfortable Environment: Creating a comfortable sleep environment with a cool, dark room and comfortable bedding can facilitate better sleep while using the PAP device.</li>
			<li>Device Adherence: Using the PAP device consistently as recommended by your healthcare provider ensures continuous therapy, leading to improved sleep quality and health outcomes.</li>
		</ol>
	</div>
</section> 
 
<!-- ============ FAQ START ========== -->
<section class="faqwrap clearfix">
	<div class="container">
		<h2>Frequently <span>Asked Questions</span> (FAQ’S)</h2>
		
		<div class="accordion" id="accordionExample">
  <div class="item">
     <div class="item-header" id="headingOne">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			  How does a PAP device work?    
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" >
<div class="faq-txt">The PAP device delivers a continuous or variable stream of air pressure into your airways, preventing the collapse of the upper airway and ensuring that you can breathe smoothly throughout the night. 
</div>
        
     </div>
  </div>
  <div class="item">
     <div class="item-header" id="headingTwo">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			  Can I travel with my PAP device?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
         <div class="faq-txt">
			Yes, most PAP devices are designed for travel. They come with portable accessories and travel cases, making it convenient to continue your therapy while away from home. 
         </div>
     </div>
  </div>
  <div class="item">
     <div class="item-header" id="headingThree">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			  Is a prescription required for a PAP device?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
         <div class="faq-txt">
			Yes, a prescription from your healthcare provider is necessary to obtain a PAP device. They will determine the appropriate pressure settings and device type based on your needs. 
		</div>
     </div>
  </div>
			
			
<div class="item">
     <div class="item-header" id="heading4">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
			 Can I adjust the pressure settings on my PAP device myself?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
         <div class="faq-txt">
			It's important to follow your healthcare provider's recommended pressure settings. Adjusting pressure without professional guidance can lead to ineffective therapy or discomfort. 
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading5">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
			  How often should I replace my PAP equipment? 
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
         <div class="faq-txt">
			Mask cushions and headgear may need replacement every few months, while the machine itself can last several years with proper maintenance. Consult your provider for specific recommendations.
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading6">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
			  Will using a PAP device cure my sleep apnea?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
         <div class="faq-txt">
			While a PAP device effectively treats sleep apnea, it doesn't necessarily cure it. However, consistent and proper use can significantly reduce symptoms and associated health risks. 
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading7">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
			  Can I adjust the mask to fit myself?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
         <div class="faq-txt">
			Yes, many PAP masks have adjustable straps and features to ensure a comfortable fit. Follow the manufacturer's instructions for adjusting the mask and consult your healthcare provider if you experience difficulties. 
		</div>
     </div>
  </div>	
<div class="item">
     <div class="item-header" id="heading8">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
			  What if I'm claustrophobic or anxious about wearing a mask?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
         <div class="faq-txt">
			It's normal to have concerns, but many individuals overcome these feelings as they become accustomed to the mask. Start by wearing the mask while awake to get used to the sensation and consult your provider for guidance.  
		</div>
     </div>
  </div>	
<div class="item">
     <div class="item-header" id="heading9">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
			  How do I know if my PAP device is working effectively?    
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
         <div class="faq-txt">
			Regular follow-ups with your healthcare provider are important to assess the effectiveness of your therapy. They might use data from the device's built-in tracking features to make adjustments if needed. 
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading10">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
			  Can I use a PAP device if I have a cold or allergies?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
         <div class="faq-txt">
			Using a PAP device while congested due to a cold or allergies might be challenging. Consult your healthcare provider for guidance; they might suggest solutions like saline nasal sprays or using a heated humidifier. 
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading11">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
			  Can I drink alcohol while using a PAP device?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
         <div class="faq-txt">
			 It's best to avoid alcohol close to bedtime, as it can relax throat muscles and potentially interfere with the effectiveness of PAP therapy.  
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading12">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
			  Can I use a PAP device if I have other medical conditions?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample">
         <div class="faq-txt">
			In most cases, PAP therapy can be used alongside other medical conditions. However, it's important to inform your healthcare provider about your complete medical history to ensure safe and effective treatment. 
		</div>
     </div>
  </div>		
</div>
</div>
</section>	
	
{% endblock %}