{% extends "templates/web_base.html" %}
{% block content %}
<!-- ============ BANNER START ========== -->
<section class="productwrap clearfix">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-12">
				<div class="d-hide">
					<h2>Sefam S box  (Positive Airways Pressure (CPAP) Device</h2>
						<div class="rating"><span class="mr-2">4.5</span> 
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
				</div>
				
			   <div class="vehicle-detail-banner banner-content clearfix">
                    <div class="banner-slider">
                        <div class="slider slider-nav thumb-image">
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                <img src="assets/nhk/assets/images/product.png" class="img-fluid" alt=""/> </div>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                   <img src="assets/nhk/assets/images/product.png" class="img-fluid" alt=""/>
                                </div>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="assets/nhk/assets/images/product.png" class="img-fluid" alt=""/>
                                </div>
                            </div> 
                        </div>
						<div class="slider slider-for">
                            <div class="slider-banner-image">
                                <img src="assets/nhk/assets/images/product.png" class="img-fluid" alt=""/>
                            </div> 
                            <div class="slider-banner-image">
                                <img src="assets/nhk/assets/images/product.png" class="img-fluid" alt=""/>
                            </div> 
                            <div class="slider-banner-image">
                                <img src="assets/nhk/assets/images/product.png" class="img-fluid" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-lg-4 col-md-6 col-12 productdetail pro-rent">
				<div class="row flex-column-reverse flex-md-row">
					<div class="col-lg-12 col-md-12 col-12">
						<h2 class="m-hide">Sefam S box  (Positive Airways Pressure (CPAP) Device</h2>
						<div class="rating m-hide"><span class="mr-2">4.5</span> 
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
						
						<div class="rent__price clearfix">
							<ul>
								<li><span>Refundable Deposit </span>:  ₹5,000</li>
								<li><span>cost per Month </span> :  ₹1,000</li>
								<li><span>GST(18%) </span>:  ₹180</li>
								<li><span>Total Price </span> :  ₹6,180/month</li>
							</ul>
						</div>
						<div class="makepayment pt-0">
							<a href="checkout.html">Rent Now</a>
						</div>
						 
					</div>
					 
				</div>
			</div>
		</div>
	</div>
</section> 
	
<!-- ============ Box START ========== -->
<section class="devicebox clearfix">
	<div class="container">
		<h3>Electrical specifications</h3>
		<p>External Power Supply 100/240 VAC~ (-15%, +10%) 50/60 Hz<br>
DC Input 13 V= / 2 A<br>Consumption 20 W max.<br>CPAP consumption 0.750A @ 20cmH2O with 4 mm leak</p> 
		<h3>Product description</h3>
		<p>EcoStar Auto is designed to improve compliance of Obstructive Sleep Apneas (OSA) patients treated by Positive Airways Pressure (PAP), the EcoStar product range provides the correct pressure and reliable performance, day after day. The EcoStar Auto CPAP uses high end components and has a very low failure rate, making these devices extremely reliable and more than ever the best workhorses among the low-range CPAP devices. EcoStar (CPAP) is about simplicity without compromising performance featuring unmatched pressure stability, time ramp,automatic leaks compensation, automatic altitude barometric and pressure adjustment. Along with its basic configuration EcoStar (CPAP) is a very economicand efficient PAP device.</p>
		<hr/>
	</div>
</section> 
	
<!-- ============ Sleep Apnaea Health Solution START ========== -->
<section class="healthsolutioin clearfix pt-4">
  <div class="container">
    <h2 class="text-left mb-3">Similar <span>Products</span></h2>
    <div class="slider blog-slider">
      <div class="slick-slideshow__slide">
        <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-s-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
      </div>
      <div class="slick-slideshow__slide">
        <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
      </div>
      <div class="slick-slideshow__slide">
        <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
      </div>
      <div class="slick-slideshow__slide">
        <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""/>
            </center>
          </div>
         <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
      </div>
      <div class="slick-slideshow__slide">
        <div class="card">
          <div class="card-thumb">
            <center>
              <img src="assets/nhk/assets/images/product/sefam-box.png" class="img-fluid" alt=""/>
            </center>
          </div>
          <div class="card-body">
            <h3>Sefam S Box</h3>
            <p class="start"> <span class="rate__col">4.3 <i class="fa fa-star"></i></span> <span class="black-txt">₹6500.00</span></p>
			  <div class="w-100 mt-2 mb-2"> <span class="mrp-txt">M.R.P.: ₹8,500</span> <span class="off-txt">(24% off)</span></div>
            <p><a href="#">Buy now</a> <a href="#">Rent Now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ============ Customer Reviews START ========== -->	
<section class="customerReviews clearfix">
	<div class="container">
		<h2>Customer <span>Reviews</span></h2>
		
		
	  <div class="product__rating clearfix">
		  <div class="row">
			  <div class="col-lg-4 col-md-5 col-12">
				  <div class="card-body text-center">
					  <h3>4.8</h3>
					  <div class="rating">
						  <i class="fa fa-star"></i>
						  <i class="fa fa-star"></i>
						  <i class="fa fa-star"></i>
						  <i class="fa fa-star"></i>
						  <i class="fa fa-star"></i>
				  	  </div>
					  <p>Product Rating</p>
				  </div>
			  </div>
			  <div class="col-lg-8 col-md-7 col-12">
				  <div class="rating__avarge clearfix">
					  <ul>
						  <li>
							  <div class="progress">
							    <div class="progress-bar" style="width:70%"></div>
							  </div>
							  <div class="rating__persent">70%</div>
							  <div class="rating__star">
								  <i class="fa fa-star"></i>
								  <i class="fa fa-star"></i>
								  <i class="fa fa-star"></i>
								  <i class="fa fa-star"></i>
								  <i class="fa fa-star"></i>
							  </div>
						  </li>
						  <li>
							  <div class="progress">
							    <div class="progress-bar" style="width:35%"></div>
							  </div>
							  <div class="rating__persent">35%</div>
							  <div class="rating__star">
								  <i class="fa fa-star"></i>
								  <i class="fa fa-star"></i>
								  <i class="fa fa-star"></i>
								  <i class="fa fa-star"></i>
							  </div>
						  </li>
						  <li>
							  <div class="progress">
							    <div class="progress-bar" style="width:25%"></div>
							  </div>
							  <div class="rating__persent">25%</div>
							  <div class="rating__star">
								  <i class="fa fa-star"></i>
								  <i class="fa fa-star"></i>
								  <i class="fa fa-star"></i>
							  </div>
						  </li>
						  <li>
							  <div class="progress">
							    <div class="progress-bar" style="width:15%"></div>
							  </div>
							  <div class="rating__persent">15%</div>
							  <div class="rating__star">
								  <i class="fa fa-star"></i>
								  <i class="fa fa-star"></i>
							  </div>
						  </li>
						 <li>
							  <div class="progress">
							    <div class="progress-bar" style="width:5%"></div>
							  </div>
							  <div class="rating__persent">5%</div>
							  <div class="rating__star">
								  <i class="fa fa-star"></i>
							  </div>
						  </li> 
					  </ul>
				  </div>
			  </div>
		  </div>
		  
	  </div>	
		
	  <div class="userFeedback clearfix">
		  <ul>
			  <li>
				  <div class="User-profile">AT</div>
				  <h3>Nicolas cage</h3>
				  <div class="rating">
					  <i class="fa fa-star"></i>
					  <i class="fa fa-star"></i>
					  <i class="fa fa-star"></i>
					  <i class="fa fa-star"></i>
					  <i class="fa fa-star"></i>
				  </div>
				  <h4>Greate Product</h4>
				  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
			  </li>
			  <li>
				  <div class="User-profile">AT</div>
				  <h3>Nicolas cage</h3>
				  <div class="rating">
					  <i class="fa fa-star"></i>
					  <i class="fa fa-star"></i>
					  <i class="fa fa-star"></i>
					  <i class="fa fa-star"></i>
					  <i class="fa fa-star"></i>
				  </div>
				  <h4>Greate Product</h4>
				  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
			  </li>
		  </ul>
	  </div>	
		
	<div class="more-review text-center">
			  <a href="#">View All Reviews</a>
		  </div>	
		
	</div>
</section>	
	
<!-- ============ FAQ START ========== -->
<section class="faqwrap clearfix">
	<div class="container">
		<h2>Frequently <span>Asked Questions</span> (FAQ'S)</h2>
		
		<div class="accordion" id="accordionExample">
  <div class="item">
     <div class="item-header" id="headingOne">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			  How does a PAP device work? 
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
<div class="faq-txt">The PAP device delivers a continuous or variable stream of air pressure into your airways, preventing the collapse of the upper airway and ensuring that you can breathe smoothly throughout the night.
</div>
        
     </div>
  </div>
  <div class="item">
     <div class="item-header" id="headingTwo">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			  Can I travel with my PAP device? 
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
         <div class="faq-txt">
			Yes, most PAP devices are designed for travel. They come with portable accessories and travel cases, making it convenient to continue your therapy while away from home.
         </div>
     </div>
  </div>
  <div class="item">
     <div class="item-header" id="headingThree">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			  Is a prescription required for a PAP device? 
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
         <div class="faq-txt">
			Yes, a prescription from your healthcare provider is necessary to obtain a PAP device. They will determine the appropriate pressure settings and device type based on your needs.
		</div>
     </div>
  </div>
			
			
<div class="item">
     <div class="item-header" id="heading4">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
			 Can I adjust the pressure settings on my PAP device myself? 
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
         <div class="faq-txt">
			It's important to follow your healthcare provider's recommended pressure settings. Adjusting pressure without professional guidance can lead to ineffective therapy or discomfort. 
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading5">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
			  How often should I replace my PAP equipment?
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
         <div class="faq-txt">
			Mask cushions and headgear may need replacement every few months, while the machine itself can last several years with proper maintenance. Consult your provider for specific recommendations.
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading6">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
			  Will using a PAP device cure my sleep apnea? 
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
         <div class="faq-txt">
			While a PAP device effectively treats sleep apnea, it doesn't necessarily cure it. However, consistent and proper use can significantly reduce symptoms and associated health risks.
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading7">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
			  Can I adjust the mask to fit myself?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
         <div class="faq-txt">
			Yes, many PAP masks have adjustable straps and features to ensure a comfortable fit. Follow the manufacturer's instructions for adjusting the mask and consult your healthcare provider if you experience difficulties.
		</div>
     </div>
  </div>	
<div class="item">
     <div class="item-header" id="heading8">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
			  What if I'm claustrophobic or anxious about wearing a mask?  
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
         <div class="faq-txt">
			It's normal to have concerns, but many individuals overcome these feelings as they become accustomed to the mask. Start by wearing the mask while awake to get used to the sensation and consult your provider for guidance.
		</div>
     </div>
  </div>	
<div class="item">
     <div class="item-header" id="heading9">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
			  How do I know if my PAP device is working effectively?    
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
         <div class="faq-txt">
			Regular follow-ups with your healthcare provider are important to assess the effectiveness of your therapy. They might use data from the device's built-in tracking features to make adjustments if needed.
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading10">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
			  Can I use a PAP device if I have a cold or allergies? 
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
         <div class="faq-txt">
			Using a PAP device while congested due to a cold or allergies might be challenging. Consult your healthcare provider for guidance; they might suggest solutions like saline nasal sprays or using a heated humidifier.
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading11">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
			  Can I drink alcohol while using a PAP device?
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
         <div class="faq-txt">
			It's best to avoid alcohol close to bedtime, as it can relax throat muscles and potentially interfere with the effectiveness of PAP therapy.  
		</div>
     </div>
  </div>			
<div class="item">
     <div class="item-header" id="heading12">
        <h2 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
			  Can I use a PAP device if I have other medical conditions? 
           <i><img src="assets/nhk/assets/images/Down.svg" alt=""></i>
           </button>
        </h2>
     </div>
     <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample">
         <div class="faq-txt">
			In most cases, PAP therapy can be used alongside other medical conditions. However, it's important to inform your healthcare provider about your complete medical history to ensure safe and effective treatment. 
		</div>
     </div>
  </div>		
</div>
</div>
</section>	
	
{% endblock %}