{% extends "templates/web_base.html" %}
{% block content %}
<!-- ============ Container START ========== -->
<section class="track__order clearfix">
	<div class="container">
		<h2>Track <span>Order</span></h2>
		<div class="row justify-content-center">
			<div class="col-lg-9 col-md-12 col-12">
				<div class="checkoutPayment clearfix mb-5">
				 <div class="cardProduct clearfix mb-0 nobdr pb-0">
					 <div class="row">
						 <div class="col-lg-3 col-md-3 col-4">
							 <div class="productcard">
							 <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""> </div>
					   </div>
						 <div class="col-lg-9 col-md-9 col-8">
							 <h4>SSefam S box  (Positive Airways Pressure (CPAP) Device</h4>
							 <p>Order ID # 1079458 </p>
							 <p class="pb-0 mb-0"><strong>₹1,500</strong></p>
						 </div>
					 </div>
				 </div>
				</div>
				
				<div class="track__status clearfix">
					<ul>
						<li class="active">
							<div class="check">
								<i class="fa fa-check"></i>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<h4>Ordered</h4>
									<p>02/02/2024 <br>20</p>
								</div>
								<div class="col-lg-6 col-md-6 col-6 m-hide">
									<h4>Ready</h4>
									<p>03/02/2024 <br> 11:20</p>
								</div>
							</div>
							
						</li>
						<li>
							<div class="check">
								<i class="fa fa-check"></i>
							</div>
							<h4>Shipped</h4>
							<p>02/02/2024 <br>11:20</p>
						</li>
						<li>
							<div class="check">
								<i class="fa fa-check"></i>
							</div>
							<h4>Out for Delivery</h4>
							<p>05/02/2024 <br>11:20</p>
						</li>
						<li>
							<div class="check">
								<i class="fa fa-check"></i>
							</div>
							<div class="float-right w-100">
								<h4>Estimated  <br>Delivery</h4>
								<p>02/02/2024 <br>11:20</p>
							</div>
						</li>
					</ul>
				</div>
				
				<div class="address_order clearfix">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-12">
							<div class="card-address">
								<h3>Summary:</h3>
								<p><span>Order ID #:</span> 1079458 </p>
								<p><span>Order Date:</span> 5, January, 2024</p>
								<p><span>Order Total:</span> ₹1,500.00</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="card-address nobdr">
								<h3>Shipping Address:</h3>
								<p>Miss Bean officials <br> 123 street Average <br> Boston, Ma</p>
							</div>
						</div>
					</div>
					
				</div>
				<div class="makepayment">
						<a href="write-review.html">Write a Review</a>
				</div>
			</div>
			
			
		</div>
	</div>
</section>  
	
 
{% endblock %}