{% extends "templates/web_base.html" %}
{% block content %}
<!-- ============ Container START ========== -->
<section class="write__review clearfix">
	<div class="container">
	   <div class="row justify-content-center">
		   <div class="col-lg-9 col-md-10 col-12">
			   <h2>Write <span>Review</span></h2>
		
				<div class="checkoutPayment clearfix mb-5">
				 <div class="cardProduct clearfix mb-0 nobdr">
					 <div class="row">
						 <div class="col-lg-2 col-md-3 col-4">
							 <div class="productcard">
							 <img src="assets/nhk/assets/images/product/sefam-ecostar.png" class="img-fluid" alt=""> </div>
					   </div>
						 <div class="col-lg-10 col-md-9 col-8">
							 <h4>SSefam S box  (Positive Airways Pressure (CPAP) Device</h4>
							 <p>Order ID # 1079458 </p>
							 <p><strong>₹1,500</strong></p>
						 </div>
					 </div>
				 </div>
				</div>
				
			    <h6>Product Rating</h6>
			    <div class="write-rating">
					<a href="#"><i class="fa fa-star-o"></i></a>
					<a href="#"><i class="fa fa-star-o"></i></a>
					<a href="#"><i class="fa fa-star-o"></i></a>
					<a href="#"><i class="fa fa-star-o"></i></a>
					<a href="#"><i class="fa fa-star-o"></i></a>
			    </div>
			    <div class="review-add">
					<h6>Add a Headline</h6>
			   		<input type="text" class="form-control" placeholder="What’s most important to know?">
			    </div>
			   <div class="review-add">
					<h6>Add a Written Review</h6>
			   		<textarea class="form-control message" placeholder="What did you like or dislike?"></textarea>
			    </div>
			   
			   <div class="makepayment pt-0">
					<a href="index.html">Submit</a>
				</div>
			   
		   </div>
	   </div>
	</div>
</section>  
	
 
{% endblock %}